.app.hideAside aside {
    display: none !important;
}

.user__section {
    display: none !important;
}

.header_logo_tools_user-wrapper img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    cursor: pointer;
}

div[role="presentation"] {
    display: none !important;
}

.modal-background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-background.active {
    display: block !important;
}

.modal__data {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

.modal__user {
    display: none;
    top: 50%;
    left: 50%;
    position: absolute;
    overflow: hidden;
    transform: translate(-50%, -50%);

    width: 80vw;
    max-width: 400px;
    height: min-content !important;
    max-height: min-content !important;
    border-radius: 10px;
    background-color: #fff;
    z-index: 100;
    pointer-events: auto;
}

.modal__user.active {
    display: block !important;
}

.modal__name {
    display: flex;
    flex-direction: column;
    padding-left: none;
    gap: 5px;
}

.modal__link__container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
}

.modal__link__container a {
    padding: 0;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: #3D4455
}

.modal__back {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--kolor-wcag);
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}