@media screen and (max-width: 1023px) {
    .modal__header {
        font-family:
            "WorkSans",
            Graphik,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Helvetica,
            Arial,
            sans-serif,
            "Apple Color Emoji",
            "Segoe UI Emoji",
            "Segoe UI Symbol" !important;
        background: white !important;
        border-bottom: 2px solid #e5e7e9 !important;
        min-height: 60px !important;
        color: black !important;
    }

    .modal__title {
        padding: 17.5px 48px !important;
    }

    .close-button:not(aside .close-button) {
        background-color: white !important;
        box-shadow: none !important;
        position: absolute !important;
        top: calc((60px - 40px) / 2) !important;
        cursor: pointer;
        padding: 0 !important;
        margin: 0 0 0 10px !important;
        border: none !important;
        width: 40px !important;
        height: 40px !important;
    }

    .close-button:not(aside .close-button) > span:first-of-type {
        display: none !important;
    }

    .close-button:not(aside .close-button) > span:last-of-type {
        content: url("https://raw.githubusercontent.com/banocean/ifv/new-navbar/assets/icons/keyboard_backspace_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg");
        filter: invert(0.8);
        height: 40px;
    }

    .close-button:not(aside .close-button) > span > svg {
        display: none !important;
    }
}
