/* app download links, eduvulcan banner, maziaj */
.box-app, .carousel-area, .ribbon-bg {
    display: none !important;
}

.part-business-content-bottom {
    padding-left: 0 !important;
}

.main-content {
    flex-direction: column;
    flex: inherit !important;
}

.part-constant, .part-business {
    flex: 0 !important;
    padding: 0 !important;
}

.part-business { display: none; }

.header-part-2 {
    min-width: inherit !important;
}

@media screen and (max-width: 1023px) {
    .part-business-content-bottom {
        margin-top: 0 !important;
    }
}

@media screen and (min-width: 1200px) {
    .box-color {
        margin-top: 0 !important;
    }
}

@media screen and (min-width: 1200px) {
    #main-layout {
        display: flex !important;
        flex: auto !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }

    .main-content {
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left:90px !important;
        padding-right:90px !important;
        width: auto !important;
    }

    .box-color {
        flex-direction: column !important;
    }
}
