.accordion__full-width__one-item:has(#panel-content-egzaminy td[colspan="3"]) {
    display: none !important;
}


main .app__content:has(.accordion__full-width__one-item #panel-content-egzaminy td[colspan="3"]) .content-container.content-container__pure > div:nth-child(2) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}