.scheduler-cell--current {
    background-color: rgba(200, 200, 210, 0.15);
}
.scheduler-cell--current .scheduler-cell__number {
    background-color: #e12d39;
    color: #ffffff !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    border-radius: 50px;
}