:root {
    --bottom-navbar-height: 70px;
}

.more-popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #eff2f7;
    font-family: "WorkSans", Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.more-popup > div:first-of-type {
    background: white;
    border-bottom: 2px solid #e5e7e9;
    height: 60px;
    display: flex;
    align-items: center;
}

.more-popup > div:first-of-type > img {
    margin-left: 10px;
    position: absolute;
    filter: invert(0.8);
    top: calc((60px - 40px) / 2);
    cursor: pointer;
    height: 40px;
}


.more-popup > div:first-of-type > h1 {
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
}

.more-popup > div:last-of-type {
    overflow-y: auto;
    height: calc(100vh - 60px - var(--bottom-navbar-height));
}

.more-popup > div:last-of-type > div {
    display: flex;
    color: black;
    font-size: 1.6rem;
    cursor: pointer;
    padding-inline: 15px;
    padding-block: 10px;
    fill: black;
    border-bottom: 1px solid #e5e7e9;
    align-items: center;
}

.more-popup > div:last-of-type > div > .icon {
    filter: invert(0.8);
    margin-right: 20px;
}

.more-popup > div:last-of-type > div > .name {
    display: flex;
    align-content: center;
    /*height: min-content;*/
}



@media screen and (max-width: 1023px) {
    aside, .header__hamburger__icon {
        display: none !important;
    }

    .app__aside__mobile + .app__main {
        display: block !important;
    }

    div#root {
        overflow: auto;
        height: calc(100vh - 60px - var(--bottom-navbar-height));
        top: 60px;
        position: fixed;
    }

    header {
        position: fixed;
        width: 100%;
        top: 0;
    }

    .bottom-navigation-bar {
        border-top: 2px solid #e5e7e9;
        background: white;
        display: flex;
        justify-content: space-around;
        position: fixed;
        top: calc(100vh - var(--bottom-navbar-height));
        height: var(--bottom-navbar-height);
        width: 100%;
        align-items: center;
        z-index: 4002;
    }

    .bottom-navigation-bar > div {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .bottom-navigation-bar > div > div:has(img) {
        padding-inline: 15px;
        padding-block: 4px;
        margin-bottom: 4px;
        border-radius: 20px;
        width: min-content;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
    }

    .bottom-navigation-bar > div > div > img {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
        height: 25px;
        margin: 2px;
    }

    .bottom-navigation-bar > div > div:has(img.highlight) {
        font-family: "WorkSans", Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        background: var(--kolor-wcag);
    }

    .bottom-navigation-bar > div > div > img:not(.highlight) {
        filter: invert(1);
    }

    .content__header.first-header__date-selector {
        position: absolute !important;
    }
}
