:root {
    --primary-background: #121212;
    --secondary-background: #1d1d1d;
    --component-background: #212121;
    --secondary--component--background: #242424;
    --primary-text: white;
    --secondary-text: color-mix(in srgb, black 20%, white 100%);
    --evBlue: #47b2ff;
    --hr-borders: #5d5d5d;
    --hover: rgba(60, 61, 65, 0.75);
}