@media (prefers-color-scheme: dark) {
    * {
        box-shadow: none !important;
    }

    body {
        background-color: var(--primary-background);
        color: var(--primary-text);
    }

    .material-symbols-outlined:not(.icon-add > .material-symbols-outlined) {
        color: var(--primary-text);
    }

    .user-data-label.message-hint + a {
        background: white !important;
    }

    .option-box-icon > .material-symbols-outlined,
    .material-symbols-outlined > .material-symbols-outlined,
    .icon-elevated-level-1 > .material-symbols-outlined {
        color: var(--primary-background) !important;
    }

    .box-access-title,
    .form-focused-title,
    .link-simple,
    .button-simple,
    label,
    input,
    .user-data-personal,
    .user-title,
    .step-list > li,
    .step-list > li::before,
    .profiles-hint,
    .option-box-header,
    .switch-companion,
    .welcome-intro,
    .welcome-title,
    .box-app-title,
    #vulcan-website-link,
    .footer-content,
    h1,
    h2,
    th,
    .header-user-title,
    .footer-links > a,
    .page-information {
        color: var(--primary-text) !important;
    }

    .box-simple,
    .box-app,
    .center-box,
    .center-box-wide,
    .account-option-box-selected,
    .account-data-container,
    .key-row,
    .profiles-info,
    .hint-rectangle,
    .account-option-box-narrow,
    .panelLogin {
        background-color: var(--component-background) !important;
        border-color: var(--borders);
    }

    .user-avatar,
    .access-row--add {
        border-color: transparent !important;
    }

    .access-empty-data,
    .consent-row,
    .key-subtitle,
    .two-factor-description,
    .form-focused-subtitle,
    .option-box-description,
    .user-data-label,
    .user-subtitle,
    .welcome-description,
    .box-app > div:nth-child(2),
    .center-box,
    .user-data-personal-light,
    .user-data-help,
    .data-table td,
    .description-dark {
        color: var(--secondary-text) !important;
    }

    .data-edit,
    .data-delete {
        background-color: var(--secondary-background) !important;
        box-shadow: none !important;
        border-color: transparent !important;
        color: var(--primary-text) !important;
    }

    .main-box-empty {
        background: var(--primary-background) !important;
        border-radius: 10px;
        color: var(--primary-text) !important;
    }

    .data-table tbody tr:nth-child(2n + 1) td {
        background-color: var(--secondary--component--background) !important;
    }

    .data-table tr {
        border-width: 0 !important;
    }

    .data-table tfoot .pagination .disabled * {
        background: var(--primary-background) !important;
        border-color: transparent !important;
        color: white !important;
    }

    input[type="text"],
    input[type="password"] {
        background: var(--secondary--component--background) !important;
        border-color: var(--borders);
    }

    .product-name {
        color: var(--evBlue);
    }

    .link-create-account {
        color: var(--evBlue);
    }

    svg,
    img[src*=".svg"] {
        filter: invert(1) hue-rotate(180deg) !important;
    }

    .connected-account-name {
        color: var(--secondary-text) !important;
    }

    .access-list {
        border-bottom-color: var(--hr-borders);
    }

    .connected-account {
        border-top-color: var(--hr-borders);
    }

    .access-row--add {
        color: var(--evBlue);
    }

    .access-row--add:hover {
        background-color: var(--hover);
    }

    .access-row--add > .icon-add {
        color: var(--evBlue);
        outline-color: var(--evBlue);
    }

    .header-dropdown-content {
        background-color: var(--secondary--component--background);
    }

    .header-dropdown-content .user-links-0:hover,
    .header-dropdown-content .user-links:hover {
        background-color: var(--hover);
    }

    .account-management-avatar {
        background-color: var(--secondary--component--background);
    }

    .payment-active-box {
        background-color: var(--secondary--component--background);
    }

    .options-box-header {
        color: var(--primary-text);
    }

    .pagination > .page-item > .page-link {
        background-color: var(--secondary--component--background);
        color: var(--primary-text);
        border-color: var(--borders);
    }

    .pagination > .page-item > .page-link:hover {
        background-color: var(--hover);
        border-color: var(--borders);
    }

    iframe {
        filter: invert(1) hue-rotate(180deg);
    }

    .user-links {
        border-color: var(--hr-borders);
    }

    .button-secondary {
        background-color: var(--secondary--component--background);
        color: var(--secondary-text);
        border-color: var(--borders);
    }

    .button-secondary:hover {
        background-color: var(--hover);
        border-color: var(--borders);
        color: var(--primary-text);
    }

    .input-components input:read-only,
    .input-components textarea:read-only {
        background-color: var(--primary--component--background);
        border-color: var(--borders);
    }
}
