* {
    box-shadow: none !important;
}

main > section {
    background-color: var(--primary-background) !important;
    color: white !important;
}

main > header {
    background-color: var(--primary-background) !important;
    border-bottom: 0 !important;
}

footer {
    border-color: var(--borders) !important;
}

footer > * > div {
    background-color: var(--primary-background) !important;
    border-color: var(--borders) !important;
}

aside, aside > header {
    background-color: var(--secondary-background) !important;
}

aside > header {
    border-color: var(--borders) !important;
}

.fonts > li > a {
    color: var(--secondary-text) !important;
}

.languages-desktop {
    border-color: var(--borders) !important;
}

.user {
    border-color: var(--borders) !important;
}

main > * > * .content-container, .p-datatable .p-datatable-tbody > tr, .p-datatable .p-datatable-thead > tr > th {
    background-color: var(--component-background) !important;
}

.tabsview__header {
    background-color: var(--secondary--component--background) !important;
}

.box-shaded:not(#kafel-pomoc-pomigracyjna), .tile__grades > .tile__grades__item {
    background-color: var(--secondary--component--background) !important;
    color: var(--secondary-text) !important;
}

.user__section > a > div > span, .user__section > a > svg {
    color: var(--secondary-text) !important;
}

.header__hamburger__icon > button > span > svg {
    color: white !important;
}

.side_studentContext {
    display: none !important;
}

.wiadomosci_svg__icon_4 {
    fill: white
}

.tile__header, .tile__header > div > a {
    color: var(--tertiary-text) !important;
}

.content-container .tile .tile__header,
.content-container .box-shaded,
.tile__content__title,
.tile__content__title,
.tile__teachers__item,
.tile__list__borders li,
.tile__grades__item--colors {
    border-color: var(--borders) !important;
}



ul .tile__teachers {
    padding: 0 !important;
}

.app-footer .app-footer__row a, .tile__teacher__type, .tile__teacher__type, .tile__important-text {
    color: var(--secondary-text) !important;
}

.tile__teacher__name {
    color: var(--primary-text) !important;
}

.tile__empty-bg, .timetable__grid .column.wolne.current {
    background: repeating-linear-gradient(45deg, #222222, #222222 10px, var(--secondary--component--background) 10px, var(--secondary--component--background) 12px) !important;
}

.timetable__grid .column.wolne {
    border-radius: 0 !important;
}

.logoEduVulcan_ciemne_r_svg__cls-1 {
    fill: white !important;
}
.tile__content {
    background-color: var(--secondary--component--background) !important;
    color: var(--primary-text) !important;
}
li > .box-shaded:not(#kafel-pomoc-pomigracyjna) {
    background-color: var(--tertiary--component--background) !important;
    color: var(--primary-text) !important;
}
.tile__grades__subject {
    color: var(--secondary-text) !important;
}
.tile__list__rectangle-boxes li {
    border-color: var(--borders);
    border-radius: 6px;
}
.plan-zajec .background_item, .plan-zajec .background_item:last-of-type {
    border-color: #7c7c7c;
}
.tile__list__rectangle__ribbon {
    background-color: #656587;
}
.tile__header {
    background-color: var(--tertiary--component--background);
}
.cell--single > .plan-position {
    color: black;
    filter: brightness(0.8) invert(1) hue-rotate(180deg) saturate(170%);
}
.timetable__grid .column.current {
    background-color: rgba(200, 200, 210, 0.068);
}
.last-login__mark {
    filter: invert(1) hue-rotate(180deg);
}
.selectedtab {
    color: var(--evBlue) !important;
}
.table-component--decorated .p-datatable-wrapper table .p-datatable-tbody td {
    color: var(--secondary-text);
}
.tabsview__header {
    border-color: var(--borders);
}
.p-datatable .p-datatable-tbody > tr > td {
    border-color: var(--borders);
}
.p-datatable-wrapper table .p-datatable-thead th {
    color: var(--tertiary-text);
}
.p-datatable-wrapper table .p-datatable-thead {
    border-color: var(--borders);
}
.table-component--decorated .p-datatable-wrapper table .p-datatable-tbody tr {
    border-color: var(--borders);
}
.p-datatable .p-datatable-thead > tr > th {
    border-color: var(--borders);
}
.app .grades__button__one-grade, .modal .grades__button__one-grade {
    background-color: var(--tertiary--component--background);
    color: var(--primary-text);
    border-color: var(--borders);
}
.grades__button__content {
    filter: invert(1) hue-rotate(180deg) brightness(1.2);
}
body .button--default:hover, .app .button--default:hover, .modal .button--default:hover, .details .button--default:hover {
    background-color: var(--hover);
}