.attendance-tabs > button:disabled {
    opacity: 50%;
}

.attendance-tabs > button:first-of-type {
    margin-right: 10px;
}

.tabsview.stats > div:first-of-type {
    display: none !important;
}

.tabsview.stats > .tabsview__tabs > div > div > div:not(:last-of-type) {
    display: none;
}

.tabsview.attendance-init:not(.stats) > .tabsview__tabs > div > div > div:last-of-type {
    display: none;
}

.tabsview.attendance-init > div:first-of-type {
    margin-top: 10px;
}
