body {
    background: #18181b;
    font-family: Cantarell, Arial, sans-serif;
    color: white;
    width: 350px;
    padding: 10px;
}

body.mobile {
    width: calc(100% - (2 * 18px)) !important;
}

.filter > div {
    box-sizing: border-box;
    width: 100%;
    color: white;
    border: none;
    border-radius: 5px;
    background: #27272a;
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.filter > div > input::placeholder {
    color: #8e8e8e;
}

.filter > div > input {
    box-sizing: border-box;
    width: 100%;
    color: white;
    border: none;
    background: transparent;
    padding-block: 7px;
}

.filter > div:focus-within,
.filter > div:hover {
    background: #3f3f46;
}

.filter > div > input:focus,
.filter > div > input:hover {
    outline: none;
}

.filter > button {
    box-sizing: border-box;
    width: min-content;
    height: 100%;
    padding: 5px 10px;
    background: #27272a;
    color: white;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.filter > button:hover {
    background: #3f3f46;
}

.filter {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}

.categories {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    background: #27272a;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.categories:hover {
    background: #3f3f46;
}

label.category-hidden {
    display: none;
}

label.search-hidden {
    display: none !important;
}

#clear {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-block: 6px;
    padding-left: 2px;
    padding-right: 5px;
    border-radius: 50%;
}

#clear > svg {
    transition: fill 100ms;
}

#clear:hover > svg {
    fill: #c2c2c2;
}

/* Main */

h1 {
    margin: 5px 0;
    color: #fafafa;
    text-align: center;
}

h2 {
    color: #d4d4d8;
    font-size: small;
    font-weight: normal;
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Option */

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0;
    padding: 10px;
    border-radius: 7px;
    background: #27272a;
    gap: 10px;
    cursor: pointer;
}

label:hover {
    background: #3f3f46;
}

label .desc {
    margin: 5px 0 0 0;
    font-size: 14px;
    color: #a1a1aa;
    line-height: 16px;
}

label .title {
    font-size: 15px;
    color: #f4f4f5;
    line-height: 18px;
    font-weight: 500;
    margin: 0;
}

/* Toggle */
/* https://uiverse.io/ClawHack1/itchy-bobcat-18 */

.toggle-wrapper {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.toggle-wrapper .toggle-switch {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 24px;
    background-color: #52525b;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-wrapper .toggle-switch::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.toggle-wrapper .toggle-input:checked + .toggle-switch::before {
    transform: translateX(16px);
}

.toggle-wrapper .toggle-input:checked + .toggle-switch {
    background-color: #16a34a;
}

.toggle-wrapper .toggle-input:checked + .toggle-switch::before {
    transform: translateX(16px);
}

/* Footer */

.footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer a {
    color: #a1a1aa;
}
